.container{
    display:flex;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #8AE300;
}

.grid div{
    height: 20px;
    width: 20px;
    /*background-color: #D4076f;*/

}

.shape{
    background-color: #2a4ee1;
}

.mini-grid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.mini-grid div{
    width: 20px;
    height: 20px;
}